li {
    padding: 10px;
}

.section_hot li:hover {
    background-color: darkolivegreen; 
}

.section_realty li:hover {
    background-color: cadetblue;
}

.section_hot .footer {
    color: darkolivegreen;
}

.section_realty .footer {
    color: cadetblue;
}

li:hover a {
    color: white;
}

h2 {
    color: white;
    padding: 10px;
}

.section_hot h2 {
    background-color: darkolivegreen;
}

.section_realty h2 {
    background-color: cadetblue;
}